webAPI/Web References/pxfusion/pxf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftransactionDetailsField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="transactionDetailsField" nillable="true" type="tns:transactionDetailsField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftransactionDetailsField" nillable="true" type="tns:ArrayOftransactionDetailsField" />
  <xs:complexType name="transactionDetailsField">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NameValueField">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="transactionDetailsField" nillable="true" type="tns:transactionDetailsField" />
  <xs:complexType name="NameValueField">
    <xs:sequence>
      <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fieldValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NameValueField" nillable="true" type="tns:NameValueField" />
  <xs:complexType name="TransactionId">
    <xs:sequence>
      <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
      <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionId" nillable="true" type="tns:TransactionId" />
  <xs:complexType name="ArrayOfriskRuleMatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="riskRuleMatch" nillable="true" type="tns:riskRuleMatch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfriskRuleMatch" nillable="true" type="tns:ArrayOfriskRuleMatch" />
  <xs:complexType name="riskRuleMatch">
    <xs:sequence>
      <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="amountLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="includedTransactions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="matchedAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="matchedTransactionCount" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="period" type="xs:int" />
      <xs:element minOccurs="0" name="transactionCountLimit" type="xs:int" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="riskRuleMatch" nillable="true" type="tns:riskRuleMatch" />
  <xs:complexType name="ArrayOftransactionResultField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="transactionResultField" nillable="true" type="tns:transactionResultField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftransactionResultField" nillable="true" type="tns:ArrayOftransactionResultField" />
  <xs:complexType name="transactionResultField">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NameValueField">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="transactionResultField" nillable="true" type="tns:transactionResultField" />
</xs:schema>