webAPI/Web References/pxfusion/pxf0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://paymentexpress.com" elementFormDefault="qualified" targetNamespace="http://paymentexpress.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://uat.paymentexpress.com/PxF/pxf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetTransactionId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tranDetail" nillable="true" type="tns:TransactionDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TransactionDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="avsAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="avsPostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="avsStreetAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billingId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateStart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="enableAddBillCard" type="xs:boolean" />
      <xs:element minOccurs="0" name="enableAvsData" type="xs:boolean" />
      <xs:element minOccurs="0" name="enableMandatoryCvc2" type="xs:boolean" />
      <xs:element minOccurs="0" name="enablePaxInfo" type="xs:boolean" />
      <xs:element minOccurs="0" name="merchantReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxCarrier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxCarrier2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxCarrier3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxCarrier4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxClass1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxClass2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxClass3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxClass4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxDate2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxDate3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxDate4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxDateDepart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxFareBasis1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxFareBasis2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxFareBasis3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxFareBasis4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxFlightNumber1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxFlightNumber2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxFlightNumber3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxFlightNumber4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxLeg1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxLeg2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxLeg3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxLeg4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxOrigin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxStopOverCode1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxStopOverCode2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxStopOverCode3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxStopOverCode4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxTicketNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxTime1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxTime2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxTime3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxTime4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paxTravelAgentInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="returnUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timeout" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="transactionDetailsFields" nillable="true" type="q1:ArrayOftransactionDetailsField" />
      <xs:element minOccurs="0" name="txnData1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txnData2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txnData3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txnRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txnType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionDetails" nillable="true" type="tns:TransactionDetails" />
  <xs:element name="GetTransactionIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetTransactionIdResult" nillable="true" type="q2:TransactionId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelTransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTransactionResult" nillable="true" type="tns:TransactionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TransactionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="authCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billingId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cardHolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cardNumber2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currencyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currencyRate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cvc2ResultCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateExpiry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateSettlement" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dpsBillingId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dpsTxnRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="merchantReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responseText" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="riskRuleMatches" nillable="true" type="q3:ArrayOfriskRuleMatch" />
      <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="testMode" type="xs:boolean" />
      <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="transactionResultFields" nillable="true" type="q4:ArrayOftransactionResultField" />
      <xs:element minOccurs="0" name="txnData1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txnData2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txnData3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txnMac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txnRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txnType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionResult" nillable="true" type="tns:TransactionResult" />
</xs:schema>