webAPI/Web References/pxfusion/PxFusion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://paymentexpress.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PxFusion" targetNamespace="http://paymentexpress.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IPxFusion_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://paymentexpress.com/Imports">
      <xsd:import schemaLocation="https://uat.paymentexpress.com/PxF/pxf.svc?xsd=xsd0" namespace="http://paymentexpress.com" />
      <xsd:import schemaLocation="https://uat.paymentexpress.com/PxF/pxf.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://uat.paymentexpress.com/PxF/pxf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPxFusion_GetTransactionId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionId" />
  </wsdl:message>
  <wsdl:message name="IPxFusion_GetTransactionId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPxFusion_CancelTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelTransaction" />
  </wsdl:message>
  <wsdl:message name="IPxFusion_CancelTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IPxFusion_GetTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransaction" />
  </wsdl:message>
  <wsdl:message name="IPxFusion_GetTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="IPxFusion">
    <wsdl:operation name="GetTransactionId">
      <wsdl:input wsaw:Action="http://paymentexpress.com/IPxFusion/GetTransactionId" message="tns:IPxFusion_GetTransactionId_InputMessage" />
      <wsdl:output wsaw:Action="http://paymentexpress.com/IPxFusion/GetTransactionIdResponse" message="tns:IPxFusion_GetTransactionId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelTransaction">
      <wsdl:input wsaw:Action="http://paymentexpress.com/IPxFusion/CancelTransaction" message="tns:IPxFusion_CancelTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://paymentexpress.com/IPxFusion/CancelTransactionResponse" message="tns:IPxFusion_CancelTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransaction">
      <wsdl:input wsaw:Action="http://paymentexpress.com/IPxFusion/GetTransaction" message="tns:IPxFusion_GetTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://paymentexpress.com/IPxFusion/GetTransactionResponse" message="tns:IPxFusion_GetTransaction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPxFusion" type="tns:IPxFusion">
    <wsp:PolicyReference URI="#BasicHttpBinding_IPxFusion_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTransactionId">
      <soap:operation soapAction="http://paymentexpress.com/IPxFusion/GetTransactionId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelTransaction">
      <soap:operation soapAction="http://paymentexpress.com/IPxFusion/CancelTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransaction">
      <soap:operation soapAction="http://paymentexpress.com/IPxFusion/GetTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PxFusion">
    <wsdl:port name="BasicHttpBinding_IPxFusion" binding="tns:BasicHttpBinding_IPxFusion">
      <soap:address location="https://uat.paymentexpress.com/PxF/pxf.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>